{{ define "header"}}
<header>
    <h1>Shopping Page</h1>
    <nav>
        <a href="/" alt="Dashboard">Dashboard</a>
        <a href="/about" alt="Über uns">Über uns</a>
        <a href="/login" alt="Über uns">Login daten</a>
        <a href="/daten" alt="Über uns">Daten erfassen</a>
        <a href="/" alt="Über uns">Über uns</a>
    </nav>
</header>
{{ end }}