{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="col">
    <div class="row">
      <h2>This is the About Site</h2>
      <p>This is a Paragraph</p>
      <p>this is a other Paragraph</p>
      <p>{{ index .StringMap "test" }}</p>
      <p>
        {{if ne (index .StringMap "remote_ip") ""}}
        Deine Adresse ist: {{index .StringMap "remote_ip"}}
        {{else}}
        I don't know your ip address yet. Visite the
        <a href="/">Home page</a> so it can set it.
        {{ end }}
      </p>
    </div>
  </div>
</div>

{{ end }}
