{{ define "header"}}
<header>
    <h1>Shopping Page</h1>
    <nav>
        <a href="/" alt="erklärung">Dashboard</a>
        <a href="/about" alt="erklärung">Über uns</a>
    </nav>
</header>
{{ end }}